article#repoDetails {
  width: 450px;
  margin: 30px auto;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  border: 3px solid #c4c4c4;
}
article#repoDetails h2 {
  color: #817fe8;
  text-transform: uppercase;
}
.dataPoint {
  color: #817fe8;
}
.divider {
  width: 80%;
  height: 5px;
  background-color: #393643;
  margin: 0 auto;
}
