article.repo {
  width: 500px;

  margin: 0 auto;
  text-align: center;
  position: relative;

  font-family: "Montserrat", sans-serif;
  font-weight: 700;

  border: 3px solid #c4c4c4;

  padding: 10px;
}
section button {
  height: 40px;
  width: 500px;
  background: #817fe8;
  margin: 0 auto;
  display: block;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  border-style: none;
  font-size: 20px;
}
section button:hover {
  background: #9d9bf9;
  cursor: pointer;
}

section {
  margin: 30px;
}
